<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="/" class="navbar-brand">

        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <i class="fa fa-home" aria-hidden="true"></i>
        </a>

      <button class="navbar-toggler" data-toggle="collapse" data-target="#collapsableContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsableContent">
        <ul class="navbar-nav">
          <li class="nav-item"><a href="/mail/received" class="nav-link">Home</a></li>

          <% if session[:current_user] %>
          <li class="nav-item">
            <a class="nav-link">
              <%= session[:current_user]["name"] %>
            </a>
          </li>

          <li class="nav-item">
            <%= link_to "Logout", logout_path, method: :delete, class: "nav-link" %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "Login", login_path, class: "nav-link" %>
          </li>
          <% end %>

        </ul>
      </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-3">
      <a href="/mail/compose" class="nav-link" style="color: white">Compose</a>
      <a href="/mail/received" class="nav-link" style="color: white">Inbox</a>
      <a href="/friends" class="nav-link" style="color: white">Friends</a>
      <a href="/request" class="nav-link" style="color: white">Friend Requests</a>
      <a href="/mail/sent" class="nav-link" style="color: white">Sent Mail</a>
    </div>

    <div class="col-9">

      <div class="col-md-12">
      	<div class="row mt-3" id="sender">
          <p>From: </p><strong>&nbsp;<%=@message.sendmail.user.name%></strong>&nbsp;&nbsp;(<%=@message.sendmail.user.email%>)
        </div>
        <div class="row" id="receiver">
      		<p>To: </p><strong>&nbsp;<%=@message.receivemail.user.name%></strong>&nbsp;&nbsp;(<%=@message.receivemail.user.email%>)
      	</div>
        <div class="row" id="senddate">
          <p>Sent time: </p><i>&nbsp;<%=@message.receivemail.created_at%></i>
        </div>
      	<div class="row" id="senddate">
          <th>
          <% if @message.receivemail.updated_at == @message.receivemail.created_at%>
            <p>Seen time: </p><i>&nbsp; Unread</i>
          <%else%>
      		<p>Seen time: </p><i>&nbsp;<%=@message.receivemail.updated_at%></i>
          <%end%>
        </th>
      	</div>
      	<div class="row" id="body">

      		<p>Content:<i>&nbsp;<%=@message.body%></i></p>
      	</div>
      </div>

    </div>
  </div>
</div>
